body {
  font-family: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #333;
$mainGreen: rgb(51, 103, 63);
$mainWhite: rgb(220, 196, 196);
$mainGrey: rgba(230, 223, 223, 0.44);
$mainTransition: all 0.3s linear;
